In [ ]:
# =======================================================================
# Exercise: Variables in Python
# Course: Deep Learning Complete Course (CS-501)
#
# Description: This notebook contains 20 questions/exercises to test
#              your understanding of creating, naming, and using variables
#              in Python.
# ¬© Copyright: Dr. Saad Laouadi
# All Rights Reserved üõ°Ô∏è
# =======================================================================

In [1]:
# Q1: Create a variable named `age` and assign your age to it.
# Your code here:
age =25

In [2]:
# Q2: Create two variables, `city` and `country`, and assign your city and country to them.
# Your code here:
city='Tiaret'
country='Algeria'

In [4]:
# Q3: Combine `city` and `country` into a single string `location` and print it.
# Your code here:
location=city+', '+country
print(location)

Tiaret, Algeria

In [5]:
# Q4: Change the value of `age` to a different number and print it.
# Your code here:
age=30
print(age)

30

In [6]:
# Q5: Create a variable `height` and assign a float value representing your height in meters.
# Your code here:
height=1.75
print(height)

1.75

In [7]:
# Q6: Check and print the data type of the `height` variable using the `type()` function.
# Your code here:
print(type(height))

<class 'float'>

In [8]:
# Q7: Assign the value `True` to a variable named `is_student` and print the variable.
# Your code here:
is_student=True
print(is_student)

True

In [9]:
# Q8: Create a variable `name` with your first name using double quotes and then another variable `surname` with your last name using single quotes. Combine them into `full_name`.
# Your code here:
name='ABDELHAMMID'
surname='bouazza'
full_name=name+' '+surname
print(full_name)

ABDELHAMMID bouazza

In [10]:
# Q9: Create two variables `x` and `y` and assign them integer values. Swap their values without using a third variable.
# Your code here:
x=5
y=10
x,y=y,x
print(x,y)

10 5

In [11]:
# Q10: Write a statement to update the `age` variable by adding 5 to it.
# Your code here:
age+=5
print(age)

35

In [12]:
# Q11: Create a variable `length` and assign it the value 15. Create another variable `width` and assign it 10. Calculate the area of a rectangle using these variables and print the result.
# Your code here:
length=15
width=10
area=length*width
print(area)

150

In [15]:
# Q12: Using the variables `base` and `height`, calculate the area of a triangle and print it. Assume `base = 8` and `height = 5`.
# Your code here:
base=8
height=5
area=(base*height)/2
print(area)

20.0

In [16]:
# Q13: Create a string variable `greeting` with the text "Hello" and another variable `recipient` with the text "World". Combine them with a space in between and print the result.
# Your code here:
greeting='Hello'
recipient='World'
print(greeting+' '+recipient)

Hello World

In [17]:
# Q14: Create a boolean variable `is_active` and set it to `False`. Then change its value to `True` and print it.
# Your code here:
is_active=False
is_active=True
print(is_active)

True

In [18]:
# Q15: Using f-strings, print a formatted message: "My name is [name] and I am [age] years old." Replace [name] and [age] with the appropriate variables.
# Your code here:
name='ABDELHAMMID'
age=25
print(f'My name is {name} and I am {age} years old.')

My name is ABDELHAMMID and I am 25 years old.

In [19]:
# Q16: Create a variable `pi` and assign it the value 3.14159. Print the variable, ensuring it only shows 2 decimal places.
# Your code here:
pi=3.14159
print(f'{pi:.2f}')

3.14

In [20]:
# Q17: Assign the value of a mathematical expression (e.g., `2 * (3 + 5)`) to a variable and print it.
# Your code here:
x=2*(3+5)
print(x)

16

In [21]:
# Q18: Create a variable `sentence` and assign it a sentence of your choice. Use slicing to print the first 5 characters.
# Your code here:
sentence='Hello World'
print(sentence[:5])

Hello

In [22]:
# Q19: Create a variable `number` with the value 100. Use an arithmetic operation to double its value and then print it.
# Your code here:
number=100
number*=2
print(number)

200

In [23]:
# Q20: Declare three variables `a`, `b`, and `c` with values 5, 10, and 15 respectively. Calculate and print their average.
# Your code here:
a,b,c=5,10,15
print((a+b+c)/3)

10.0